.card__list {
  padding: 0;
  margin: 51px 0 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
  justify-content: center;
}

.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  max-width: 282px;
  overflow: hidden;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  margin: 0 20px;
}

.card__title {
  flex: 1;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px auto;
}

.card__image {
  height: 282px;
  width: 100%;
}

.card__like-button {
  padding: 0;
  background-image: url(../images/Vector_Heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.4s;
  border: none;
  height: 18px;
  width: 21px;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.card__like-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .card {
    height: 361px;
    width: 282px;
  }
}

@media screen and (max-width: 768px) {
  .card__list {
    margin: 0;
    margin-top: 36px;
    margin-bottom: 48px;
  }
}
