.footer__copyright {
  color: #545454;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    max-width: 282px;
  }
  .footer__copyright {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 830px) {
  .footer {
    display: flex;
    max-width: 564px;
  }
  .footer__copyright {
    margin-bottom: 60px;
  }
}
