.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  padding-bottom: 54px;
  margin-bottom: 0;
  margin-top: 34px;
  color: #000;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  max-height: 330px;
  padding-bottom: 36.51px;
}

.modal__save-button {
  width: 358px;
  height: 50.15px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__input {
  margin-bottom: 29.74px;
  width: 358px;
  height: 27.26px;
  border-left: none;
  border-top: none;
  border-right: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__form {
  width: 358px;
  padding-top: 0;
}

.modal__close-button {
  position: absolute;
  cursor: pointer;
  bottom: calc(100%);
  left: calc(100% + 5px);
  background-image: url("../images/Vector_Close.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s linear;
}

.modal__close-button:hover {
  opacity: 0.5;
}

.modal__container-preview {
  position: relative;
  margin: auto;
}

.modal__caption {
  color: #fff;
  font-size: 12px;
  margin: 10px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 810px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    margin: auto;
    padding-right: 0;
    padding-left: 0;
    display: flex;
  }

  .modal__save-button {
    max-width: 238px;
  }

  .modal__input {
    max-width: 238px;
    margin-bottom: 45px;
  }

  .modal__form {
    padding-left: 22px;
    padding-right: 22px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    padding-left: 22px;
    margin-top: 22px;
    margin-bottom: 75px;
    padding-bottom: 0;
  }
  .modal__close-button {
    top: -45px;
    right: 0;
    width: 26px;
    height: 26px;
    padding-bottom: 10.62px;
  }
}
