.profile {
  display: flex;
  justify-content: space-between;
  margin: 62px 0 0;
  padding: 0;
  align-items: center;
}

.profile__header {
  /* Holds the title and edit button */
  display: flex;
  align-items: baseline;
}

.profile__container {
  /* Holds the text and image */
  display: flex;
  margin: 0;
  padding: 0;
}

.profile__info {
  /* Holds the text */
  display: flex;
  flex-direction: column;
}

.profile__image {
  height: 120px;
  width: 120px;
}

.profile__title {
  margin: 0 0 0 30px;
  font-weight: 500;
  font-size: 42px;
  /* 48px line height divided by 42px font = 1.14285... */
  /* I put 1.2 last submission as this was counted as incorrect */
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subtitle {
  margin: 16px 0 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-image: url(../images/Vector_Pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  transition: opacity 0.4s;
  padding: 0;
  cursor: pointer;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__follow-button {
  background-image: url(../images/Vector_Plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  transition: opacity 0.4s;
  margin: 0 0 0 auto;
  cursor: pointer;
  padding: 0;
}

.profile__follow-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .profile__container {
    align-items: center;
    margin-top: 42px;
  }

  .profile__title {
    margin-top: 30px;
  }

  .profile__subtitle {
    max-width: 282px;
  }

  .profile__follow-button {
    margin: 36px 0 0 0;
    width: 282px;
    height: 50px;
  }
}

@media screen and (max-width: 580px) {
  .profile__container {
    flex-direction: column;
    justify-content: center;
  }

  .profile__title {
    font-size: 22px;
  }

  .profile__subtitle {
    text-align: center;
    font-size: 14px;
  }
}
