.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__overlay_active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  padding-bottom: 54px;
  margin-bottom: 0;
  margin-top: 34px;
  color: #000;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  max-height: 330px;
  padding-bottom: 36.51px;
}

.modal__save-button {
  width: 358px;
  height: 50.15px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 18px;
}

.modal__save-button_disabled {
  background-color: #fff;
  color: #000;
  opacity: 0.2;
  border-radius: 2px;
  border: #000 1px solid;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__save-button_disabled:hover {
  opacity: 0.2;
  cursor: auto;
}

.modal__input {
  /* margin-bottom: 30px; */
  gap: 30px;
  width: 358px;
  height: 27.26px;
  border-left: none;
  border-top: none;
  border-right: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 0;
}

.modal__form {
  width: 358px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__close-button {
  position: absolute;
  cursor: pointer;
  bottom: calc(100%);
  left: calc(100% + 5px);
  background-image: url("../images/Vector_Close.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s linear;
}

.modal__close-button:hover {
  opacity: 0.5;
}

.modal__container-preview {
  position: relative;
  margin: auto;
}

.modal__caption {
  color: #fff;
  font-size: 12px;
  margin: 10px 0 0 0;
  padding: 0;
}

.modal__card-image {
  position: relative;
  margin: auto;
  max-width: 90vw;
  max-height: 75vh;
}

.modal__input_container {
  position: relative;
  max-height: 48px;
}

.modal__error {
  font-size: 12px;
  color: #ff0000;
  /* top: 27px; */
  /* position: absolute; */
  transition: opacity 0.3s;
  opacity: 0;
  min-width: 380px;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__error_visible {
  opacity: 1;
}

@media screen and (max-width: 810px) {
  .modal__container {
    max-width: 282px;
    max-height: 600px;
    margin: auto;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    padding-bottom: 0;
  }

  .modal__save-button {
    max-width: 238px;
    margin-bottom: 25px;
    margin-top: 16px;
  }

  .modal__input {
    max-width: 238px;
  }

  .modal__form {
    padding-left: 22px;
    padding-right: 22px;
    width: 238px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    padding-left: 22px;
    margin-top: 22px;
    margin-bottom: 75px;
    padding-bottom: 0;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    padding-bottom: 10.62px;
    bottom: calc(100% + 13px);
    left: calc(100% - 25px);
  }

  .modal__error {
    max-width: 238px;
    bottom: calc(50% - 1px);
    right: calc(50% - 120px);
    padding: 0;
    margin: 0;
  }
}
