.profile {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;
  padding: 0;
  align-items: center;
  position: relative;
}

.profile__header {
  /* Holds the title and edit button */
  display: flex;
  align-items: baseline;
}

.profile__container {
  /* Holds the text and image */
  display: flex;
  margin: 0;
  padding: 0;
}

.profile__info {
  /* Holds the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__image {
  height: 120px;
  width: 120px;
  transition: opacity 0.4s;
}

.profile__image:hover,
.profile:hover .profile__image {
  opacity: 0.6;
}

.profile__avatar-edit-button {
  background: transparent url(../images/Vector_Pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  height: 26px;
  width: 26px;
  position: absolute;
  margin-left: 48px;
  margin-top: 48px;
  transition: visibility 0s linear 0.5s, opacity 0.2s linear;
  cursor: pointer;
  opacity: 0;
}

.profile:hover .profile__avatar-edit-button,
.profile__image:hover + .profile__avatar-edit-button {
  opacity: 1; /* Show button on hover */
}

.profile__title {
  margin: 0 0 0 30px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__subtitle {
  margin: 16px 0 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}

.profile__edit-button {
  background-image: url(../images/Vector_Pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  transition: opacity 0.4s;
  padding: 0;
  cursor: pointer;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-card-button {
  background-image: url(../images/Vector_Plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  transition: opacity 0.4s;
  margin: 0 0 0 auto;
  cursor: pointer;
  padding: 0;
}

.profile__add-card-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .profile__container {
    align-items: center;
    margin-top: 42px;
  }

  .profile__title {
    margin-top: 30px;
  }

  .profile__subtitle {
    max-width: 282px;
  }

  .profile__add-card-button {
    margin: 36px 0 0 0;
    width: 282px;
  }

  .profile__avatar-edit-button {
    margin-bottom: 180px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 580px) {
  .profile__container {
    flex-direction: column;
    justify-content: center;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    margin: 30px 0 0 0;
    line-height: 1.2;
  }

  .profile__subtitle {
    text-align: center;
    max-width: 282px;
    font-size: 14px;
    margin: 14px 0 0 0;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }

  .profile__avatar-edit-button {
    margin-bottom: 160px;
    margin-right: 50px;
  }
}
